[Desktop Entry]
Type=Application
Version=1.25.1
Name=Bitwarden
Comment=Bitwarden startup script
Exec=/opt/Bitwarden/bitwarden
StartupNotify=false
Terminal=false